.header {
  // height: 5rem;
  background-color: $m-dark-blue;
  background-position: top;

  &__brand {
    margin: auto 0;
    font-weight: 300;
  }

  &__nav-content {
    color: $dirty;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;

    &__active {
      font-weight: bolder;
    }
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
