// Colors
$dark-grey: rgb(51, 51, 51);
$mild-grey: rgb(119, 119, 119);
$new-blue: #4a76f9;
$dirty: #f2f4db;
$dark-blue: rgb(0, 87, 146);
$m-dark-blue: rgb(83, 205, 226);
$m-light-blue: rgb(209, 244, 250);
$light-blue: rgb(237, 249, 252);
// Font sizes
$font-m: 1.8rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
